h1
{
    text-align: center;
}



#wrap
{
    margin:auto;
    width:600px;
}

#igralnoPolje
{
    border: 1px solid black;
}

#igralnoPolje td
{
    padding:20px;
    border:1px black solid;
}

#igralnoPolje
{
    border: 1px solid black;
    margin-bottom: 10px;
}

.crno
{
    background:black;
    font-weight: bold;
    color:white;
}

.izbrana
{
    background: yellowgreen;
}

.gumbi
{
    border:1px solid black;
    width:220px;
    padding: 20px;
    margin:5px auto;
}

.gumbi:nth-of-type(1)
{
    margin-top:50px;
}

.gumbi:nth-of-type(2)
{
    margin-bottom:40px;
}



#barva
{
    display: inline-block;
    width:10px;
    border: 1px solid black;
    padding:5px;
    position: relative;
    left:4px;
    top:5px;
    height:10px;
}

#poslji
{
    width:485px; 
    height:40px;
    margin:0px auto;
    display: block;
}

table
{
    border:1px solid black;
    width:485px;
    border-collapse: collapse;
    margin:20px auto;
}

td, th
{
    padding: 5px;
    border:1px solid black;
    text-align: center;
}

.gumbi + p, .gumbi + p + p 
{
    width:350px;
    position:relative;
    left:170px;
}
